/*GLOBAL*/

:root {
  --h1-color: #505050;
  --h2-color: #404040;
  --p-color: #151515;

  --gold: #EEB609;
  --gold-light: #FCC201;
  --gold-top: linear-gradient(to top, #EEB609, #FCC201);
  --gold-bot: linear-gradient(to bottom, #EEB609, #FCC201);
  --gold-left: linear-gradient(to left, #EEB609, #FCC201);
  --gold-right: linear-gradient(to right, #EEB609, #FCC201);
}

h1 {
  color: var(--h1-color);
}

h2 {
  color: var(--h2-color);
}

h3,
h3,
h5,
h6,
p {
  color: var(--p-color);
}

/*NAVBAR*/

/*HEADER*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: whitesmoke;
}

#header {
  position: relative;
  width: 100%;
  height: 75vh;
}

/*SERVICES*/

#services {
  position: relative;
  width: 100%;
  height: 25vh;
}

#services .container-fluid {
  padding: 0;
}

.services-deck {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 227px;
}

.service {
  display: block;
  width: 19.5%;
  height: 100%;
  background-color: black;
}
